@font-face {
	font-family: Roboto;
	src: url(../font/Roboto-Regular.ttf);
}
@font-face {
	font-family: RobotoBold;
	src: url(../font/Roboto-Bold.ttf);
}
@font-face {
	font-family: RobotoMedium;
	src: url(../font/Roboto-Medium.ttf);
}
body {
	font-size: 13px;
}
.rb{
	font-family: 'RobotoBold';
}
a{
	text-decoration: none;
	outline: none!important;
}

table .header {
	background-color: #f2f2f2;
}
table td {
	height: 35px;
}
table .right {
	text-align: right;
}
.b {
	font-weight: bold;
}
.red{
	color: #ed0000;
}
.yellow {
	color: #edaa0a;
}
*, h1, h2, h3, h4, h5, h6{
	font-family: Roboto;
}
.wrapper{
	/* max-width: 1280px;  */
	margin: 0 auto; 
	overflow: hidden;
	position: relative;
}
/*HEADER*/
#header {
	height: 80px;
	background: url(../img/bg-header.jpg) 0 0 repeat-x transparent;
	position: relative;
	z-index: 999;
	-webkit-box-shadow: 0 2px 0 0 #2d2d2d;
	-moz-box-shadow: 0 2px 0 0 #2d2d2d;
	box-shadow: 0 2px 0 0 #2d2d2d;
}

.logo {
	position: relative;
	z-index: 123;
	float: left;
	width: 14%;
}

nav {
	position: relative;
	margin: 0 auto;
}

#menu,
#menu ul,
#menu ul li,
#menu ul li a,
#menu #head-mobile {
	border: 0;
	list-style: none;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

#menu:after,
#menu > ul:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}

#menu #head-mobile {
	display: none
}

#menu {
}

#menu > ul > li {
	float: left
}

#menu > ul > li > a {
	padding: 31px 8px;
	font-size: 12px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

#menu > ul > li:hover > a,
#menu ul li.active a {
	color: #000;
}
#menu ul li.active a {
	font-family: RobotoBold;
}

#menu > ul > li:hover,
#menu ul li.active:hover,
#menu ul li.active,
#menu ul li.has-sub.active:hover {
	background: #f1c842;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}

#menu > ul > li.has-sub > a {
	padding-right: 30px
}

#menu > ul > li.has-sub > a:after {
	position: absolute;
	top: 22px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}

#menu > ul > li.has-sub > a:before {
	position: absolute;
	top: 19px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#menu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0
}

#menu ul ul {
	position: absolute;
	left: -9999px
}

#menu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	background: #333;
	transition: all .25s ease
}

#menu ul ul li:hover {}

#menu li:hover > ul {
	left: auto
}

#menu li:hover > ul > li {
	height: 35px
}

#menu ul ul ul {
	margin-left: 100%;
	top: 0
}

#menu ul ul li a {
	border-bottom: 1px solid rgba(150, 150, 150, 0.15);
	padding: 11px 15px;
	width: 170px;
	font-size: 12px;
	text-decoration: none;
	color: #ddd;
	font-weight: 400;
}

#menu ul ul li:last-child > a,
#menu ul ul li.last-item > a {
	border-bottom: 0
}

#menu ul ul li:hover > a,
#menu ul ul li a:hover {
	color: #fff
}

#menu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}

#menu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}

#menu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0
}

#menu ul ul li.has-sub:hover,
#menu ul li.has-sub ul li.has-sub ul li:hover {
	background: #363636;
}

#menu ul ul ul li.active a {
	border-left: 1px solid #333
}

#menu > ul > li.has-sub > ul > li.active > a,
#menu > ul ul > li.has-sub > ul > li.active> a {
	border-top: 1px solid #333
}

#menu .language {
	padding: 28px 0 33px;
}

.list-menu {
	width: 77%;
}
#menu .language a{
	display: inline-block;
	width: 45%;
	text-indent: -100px;
	overflow: hidden;
	height: 25px;
}
#menu .language a.en{
	background: url(../img/flag_en.jpg) 0 0 no-repeat transparent;

}
#menu .language a.vi{
	background: url(../img/flag_vi.jpg) 0 0 no-repeat transparent;
}
.comment-date-2{
	padding: 10px 15px;
	margin-top: 5px;
	float: left;
}
.header-style {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;   
	display: block;
}
.mb30{
	margin-bottom: 30px;
}
.header-style span {
	background-color: #edaa0a;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	padding: 10px 20px;
	display: inline-block;
	text-transform: uppercase;
}
ul.list{
	padding: 0 0px 10px;
}
ul.list li{
	list-style: none;
	display: inline-block;
	padding-left: 55px;
	width: 33%;
	margin-bottom: 10px;
	line-height: 30px;
}
.icon-tc {
	background: url(../img/icons2.png) 0 -280px no-repeat transparent;
}
.icon-tc.item1 {
	background-position: 0 -280px;
}
.icon-tc.item2 {
	background-position: 1px -14px;
}
.icon-tc.item3 {
	background-position: 0 -216px;
}
.icon-tc.item4 {
	background-position: 0 -52px;
}
.icon-tc.item5 {
	background-position: 0 -121px;
}
.icon-tc.item6 {
	background-position: 0 -389px;
}
.icon-tc.item7 {
	background-position: 0 -184px;
}
.icon-tc.item8 {
	background-position: 0 -250px;
}
.icon-tc.item9 {
	background-position: 0 -356px;
}
.icon-tc.item10 {
	background-position: 0 -150px;
}
.icon-tc.item11 {
	background-position: 0 -90px;
}
.icon-tc.item12 {
	background-position: 0 -320px;
}
.comment-count{
	color: #000;
}
#banner .inner {
	min-height: 100%;
	position: relative;
}
#banner .inner .bg {
	min-height: 670px;
	background-image: url(../img/home/banner1.jpg);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#banner .inner .slide {
	min-height: 830px;
}
#banner .inner .content {
	text-align: center;
	z-index: 10;
	position: absolute;
	bottom: 10%;
	width: 100%;
}
#banner .inner h1 {
	margin: 0;
	font-size: 50px;
	color: #fff;
	text-transform: uppercase;
}
#banner .inner h3 {
	margin: 10px 0 0;
	font-size: 18px;
	color: #fff;
}

#banner .inner .btn {
	padding: 22px 55px;
	font-size: 18px;
	margin: 28px 16px 0 0;
	color: #000;
	background-color: rgba(189, 167, 58, 0.83);
	border-radius: 30px;
	text-decoration: none;
}
.showcase {
	border-top: 5px solid #f1c842;
	position: relative;
	top: -4px;
}
.showcase .col-1, .showcase .col-2 {
	padding: 0;
}

.showcase .bg_overlay {
	background: rgba(19,19,19,0.25);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 7px;
	left: 0;
	z-index: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}
.showcase img {
	width: 100%
}
.showcase a:hover .bg_overlay {
	background: rgba(19,19,19,0);
}
.showcase .custom_showcase {
	position: relative;
}

.showcase .text_wrapper{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	text-transform: uppercase;
	padding: 10px 30px ;
	color: #fff;
	background-color: rgba(189, 167, 58, 0.83);
}

.showcase .col-1 {
	width: 45.88%;
	float: left;
}
.showcase .col-2 {
	width: 34%;
	float: left;
}
.showcase .col-3 {
	width: 20%;
	float: left;
	margin-top: 20px;
}
.showcase .col-2 img {
	/* height: 617px; */
}
footer {
	font-size: 12px;
	color: #a5a5a5;
	background: url(../img/bg_footer.jpg) 0 0 no-repeat transparent;
	background-size: cover;
}
.footer-content{
	padding: 60px 0;
}
footer .copyright{
	background-color: #121212;
	padding: 10px;
}

.subscribe form{
	position: relative;
	max-width: 300px;
}
.subscribe form input{
	border-radius: 0;
}
.subscribe button{
	position: absolute;
	top: 0;
	right: 0;
	background-color: #f1c842;
	border-radius: 0;
	border: 1px solid #f1c842;
	display: block;
	height: 34px;
	width: 34px;
	background: url(../img/icons.png) 6px -101px no-repeat #f1c842;
}
.subscribe button:hover{
	border: 1px solid #f1c842;
	background-color: #f1c842;
}
.logo-bottom{
	margin-bottom: 30px;
}
.info .content{
	margin: 30px 0;
}

.menu-footer ul {
	padding: 0;
	margin-top: 30px;
}
.menu-footer ul li{
	list-style: none;
	background: url(../img/icons.png) 0 -137px no-repeat transparent;
	padding-left: 25px;
	margin-top: 15px;
}
.menu-footer ul.menu-2 li{
	background: none;
	padding: 0;
}
.menu-footer ul li a{
	color: #a5a5a5;
}
.footer-content .content p{
	padding-left: 25px;
}
.address{
	background: url(../img/icons.png) 0 -7px no-repeat transparent;
}
.hotline{
	background: url(../img/icons.png) 0 -40px no-repeat transparent;
}
.email{
	background: url(../img/icons.png) 0 -75px no-repeat transparent;
}
.hr{
	background: url(../img/border-title.png) 0 center repeat-x transparent;
	height: 10px;
	width: 100%;
	position: absolute;
	top: 11px;
}
.box-home .header{
	margin: 30px 0;
	position: relative;
	text-align: center;
}
.box-home h2{
	background-color: #fff;
	color: #4b4b4d;
	margin-bottom: 30px;
	display: inline;
	text-align: center;
	position: relative;
	padding: 0 30px;
}
.box-home .col{
	position: relative;
	float: left;
}

.box-home .title{
	position: absolute;
	bottom: -7px;
	right: 0;
	background: url(../img/bg-title.png) -5px -10px no-repeat transparent;
	text-align: right;
	padding: 20px 30px;
}
.box-home .title strong{
	font-family: RobotoMedium;
	text-transform: uppercase;
	display: block;
}
.box-home .row > div{
	overflow: hidden;
	padding: 0 5px;
}

.select-style {
	border: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 10px;
}

.select-style select {
	padding: 5px 8px;
	border: none;
	width: 100%;
	-webkit-appearance: none;
	background: url(../img/icons.png) 195px -228px no-repeat transparent;
}

.datepicker{
	margin-bottom: 10px;
}
.datepicker input{
	background: url(../img/icons.png) 192px -251px no-repeat transparent;
	border: 1px solid #ccc;
	width: 100%;
	padding: 5px 10px;
}
.select-style select:focus {
	outline: none;
}
.box-search{
/*	position: absolute;
	top: 0;
	right: 0;*/
/*	background-color: #Fff;
	z-index: 9;
	padding: 20px 10px 20px;
	min-width: 240px;  
	min-height: 660px;*/
}
.header-search {
	background: url(../img/icons.png) 10px -192px no-repeat #e1c042;
	padding: 10px 20px;
	text-align: right;
	margin-bottom: 10px;
	position: relative;
}
.header-search h3{
	margin: 0;
	color: #010101;
}
.submit button{
	padding: 10px 20px;
	font-size: 13px;
	color: #000;
	background-color: #e1c042;
	border-radius: 30px;
	display: block;
	width: 100%;
	border: none;
}
.close-btn{
	background-color: #2a2a2a;
	border-radius: 50%;
	position: absolute;
	width: 20px;
	height: 20px;
	top: -8px;
	left: -8px;
	color: #fff;
	text-align: center;
	font-size: 10px;
	padding-top: 4px;
	cursor: pointer;
}
.scrolltop{
	text-indent: -100px;
	overflow: hidden;
	position: fixed;
	bottom: 20px;
	right: 30px;
	background: url(../img/icons.png) 0 -165px no-repeat transparent;
	z-index: 9;
}

/* hover effect */
.effect {
	position: relative;
}
.effect::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.effect:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

.effect2 {
	position: relative;
}
.effect2::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.effect2:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/*LIEN HE*/
.breadcrumb {
	background-color: #e4e4e4
}
.breadcrumb span {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}
.breadcrumb span.home {
	background: url(../img/ico-home.jpg) 0 -2px no-repeat transparent;
	padding-left: 20px;
}
.breadcrumb a{
	color: #333333;
	font-weight: normal;
}
.main_content {
	color: #5a5a5a;
	margin-bottom: 50px;
}
.main_content .container {
	overflow: hidden;
}
.main_content .header{
	position: relative;
}
.main_content .header h1{
	color: #fcac00;
	font-size: 18px;
	margin-bottom: 20px;
}
.main_content .header .br{
	height: 1px;
	border-bottom: 1px solid #e5e5e5;
	position: absolute;
	width: 100%;
	bottom: 5px;
	margin-left: 20px;
}

.main_content .line{
	height: 1px;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	margin: 35px 0 ;
}
.m35{
	margin-bottom: 35px;
}
.lienhe form input.form-control {
	padding: 20px 10px;
}

.btn-yellow,
.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
	border: none;
	border-radius: 10px;
/*	background-color: #fdd841;
color: #070707;*/
background-color: #edaa0a;
color: #fff;
padding: 10px 25px;
font-weight: bold;
font-size: 13px;
text-transform: uppercase;
}

/* danh muc tour*/
.nav-tabs,
.top-content .nav-tabs li a,
.top-content .nav-tabs li a.active,
.top-content .nav-tabs li a:focus {
	border: none;
}
.top-content .nav-tabs > li{
	margin-bottom: 0;
	width: 50%;
	text-align: center;
}
.top-content .nav-tabs > li a{
	text-transform: uppercase;
}
.top-content form {
	margin: 40px 0;
}
.top-content .header {
	background-color: #f1c842;
}
.top-content .content {
	background-color: #7f7f7f;
}
.top-content .form-control {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	padding: 9px 15px;
	height: auto;
}
.top-content .form-control option{
	color: #000;
}
.top-content .btn.search, .top-content .search.btn:hover{
	background: url(../img/icon-search.png) 6px 1px no-repeat #fdd841;
	padding-left: 51px;
}
.row1 {
	float: left;
	width: 90%
}
.row1 .item {
	float: left;
	width: 25%;
	padding: 0 10px;
}
.row2 {
	float: left;
	width: 8%;
	margin-left: 20px;
}
.top-content .nav-tabs > li.active > a, 
.top-content .nav-tabs > li.active > a:hover, 
.top-content .nav-tabs > li.active > a:focus {
	border: none;
}
.social a{
	background: url(../img/icons.jpg) 0px 0px no-repeat transparent;
	text-indent: -100px;
	width: 20px;
	overflow: hidden;
	display: inline-block;
	height: 23px;
}
.social a:nth-child(2){
	background-position: -21px 0;
}
.social a:nth-child(3){
	background-position: -41px 0;
}
.social a:nth-child(4){
	background-position: -70px 0;
}
.social a:nth-child(5){
	background-position: -91px 0;
}
.main_content .item{
	position: relative;
	margin-bottom: 30px;
}
.main_content .item .info{
	background: url(../img/bg-item.png) left bottom no-repeat transparent;
	position: absolute;
	bottom: 0;
	left: 10px;
	width: 95%;
	color: #fff;
	padding: 10px 20px;
}
.main_content .item img{
	max-width: 100%;
}
.main_content .item .info .title{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.main_content .item .info .left,
.main_content .item .info .right{
	float:left;
	width: 70%;
	font-size: 13px;
}
.main_content .content .row{
	margin-top: 30px;
}
.date,.date2 {
	background: url(../img/icon-2.png) left bottom no-repeat transparent;
	padding-left: 22px;
	margin-top: 7px;
}
.date{
	background-position: 0 -2px;
}
.old-price {
	margin-top: 5px;
	text-decoration: line-through;
}
.new-price {
	font-size: 23px;
}
.main_content .item .info .right{
	width: 30%;
}
.pager {
	margin: 20px 0;
}
.pager a{
	outline: none;
}
.page-numbers {
	display: inline-block;
	padding: 7px 12px;
	font-size: 13px;
	color: #848d95;
	border: 1px solid #e4e6e8;
	background-color: transparent;
	margin: 0 5px;
}
.page-numbers.current {
	color: #fff;
	background-color: #f69c55;
	border-color: transparent;
}

/*tintuc*/
.main_content .item .info-tintuc {
	background: none;
	position: static;
	color: #000;
	padding: 10px 0;
}
.main_content .item .info-tintuc .title{
	border-left: 5px solid #f0c842;
	padding-left: 15px;
}
.main_content .item .info-tintuc .desc{
	padding: 0 20px;
	color: #8b8b8a;
}
.tintuc .pager{
	text-align: right;
	margin-right: 15px;
}
.info-hotel{
	position: absolute;
	left: 10px;
	width: 95%;
	padding: 10px 20px;
	bottom: 10px;
	color: #fff;
}
.detail {
	color: #090909;
}
.detail .title {
	font-size: 25px;
}
.detail .ex {
	line-height: 25px;
}
.main_content .detail .line{
	margin: 15px 0;
}
.detail .ex img{
	max-width: 100%
}
.view {
	background: url(../img/view.png) left bottom no-repeat transparent;
	padding-left: 35px;
	margin-top: 5px;
}
.detail .share > div {
	display: inline-block;
	margin-right: 30px;
}
/*travel*/
.main_content .detail-travel .row {
	margin-top: 0;
}
.detail-travel .title {
	font-size: 29px;
	color: #ee9700;
	padding: 0 20px;
	margin-top: 0;
}
.info-travel {
	color: #949494;
	padding: 0 20px;
}
.info-travel div > div {
	display: inline-block;
	margin-right: 50px;
	font-size: 12px;
	line-height: 20px;

}
.info-travel .new-price strong {
	color: #000;
	font-size: 27px;
}
.info-travel > div{
	margin-bottom: 10px ;
}
.info-travel .in2{
	background: #f7f7f7;
	padding: 8px 10px;
}
.info-travel .date2 a{
	color: #949494;
	padding-left: 20px;
	text-decoration: underline;
}
.info-travel .in3 div{
	color: #000000;
	font-size: 13px;
	text-decoration: underline;
	text-transform: uppercase;
}
.info-travel .in4{
	margin-top: 20px;
}
.info-travel .in4 a{
	padding: 10px 40px;
}
.tab-style .nav-tabs {
	border-bottom: 1px solid #dddddd;
}
.nav-tabs > li > a{
	background-color: #e2e2e2;
	color: #4b4b4b;
}
.tab-style .nav-tabs > li.active > a, 
.tab-style .nav-tabs > li.active > a:hover,
.tab-style .nav-tabs > li.active > a:focus {
	color: #000;
	cursor: default;
	background-color: #f1c842;
	border: 1px solid #dddddd;
	border-bottom-color: transparent;
	font-weight: bold;
	text-transform: uppercase;
}
.tab-style .content{
	padding: 20px 0;
}
/*travel detail*/
.tab-content {
	color :#262626;
}
.cate {
	font-size: 13px;
}
.cate span:first-child {
	display: inline-block;
	width: 100px;
}
.ex .ex1{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 20px 0;
	margin: 20px 0;
}
.tourlq {
}
.tourlq .header h2{
	color: #2f2f2f;
	font-size: 22px;
	text-align: center;
}
.tourlq .header h2:first-line {
	font-weight: bold;
	background-color: #fff;
}
.tourlq .header h2:before {
	position: absolute;
	z-index: -1;
	content: '';
	left: 0px;
	right: 0px;
	top: 50%;
	margin-top: -1px;
	border: 1px solid #dddddd;
}
.tourlq .new-price {
	font-size: 23px;
	color: #f1c842;
}
.main_content .tourlq  .item{
	margin-bottom: 20px;
}
.main_content .tourlq  .item .info .left{
	width: 60%;
}
.main_content .tourlq  .item .info .right{
	width: 40%;
}
.main_content .tourlq  .item .info {
	position: static;
	width: 100%;
	color: #595959;
	padding: 10px 0;
	background: none;
}
.main_content .tourlq .item img {
	max-width: 100%;
	border: 2px solid #ababab;
}
.main_content .tourlq .item .info .title{
	padding: 0;
	color: #2f2f2f;
}
/*comment*/
.comment {
	margin: 10px 0;
}
.comment .btn-yellow{
	margin-bottom: 10px;
}
.comment .nav-tabs > li > a{
	background-color: transparent;
	border: none;
}
.tab-page-right .comment-item {
	background-color: #f2f2f2;
	padding: 20px;
	line-height: 22px;
	border-radius: 4px;
}
.tab-style .comment .nav-tabs, .tab-style .comment .nav-tabs:hover{
	border: none;
}
.tab-style .comment .nav-tabs > li.active > a, 
.tab-style .comment .nav-tabs > li.active > a:hover, 
.tab-style .comment .nav-tabs > li.active > a:focus {
	background-color: #d49000;
	color: #fff;
	margin: 0;
	border: none;
	border-radius: 4px 0 0 4px;
}
.comment-header{
	margin-bottom: 20px;
}
.comment-header span{
	color: #fff;
	padding: 10px 20px;
	float: left;
}
.comment-header span.first{
	background-color: #d49000;
}
.comment-header span.last{
	background-color: #f1af23;
}
.comment-header span.all{
	font-weight: bold;
	color: #d49000;
	font-size: 18px;
	padding-top: 7px;
}
.author {
	margin-top: 20px;
	border-bottom: 1px solid #ccc;
	color: #000;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.progress-list {
	margin-right: 20px;
}
.progress-list li {
	clear: both;
	float: left;
	margin-bottom: 15px
}
.tab-blue li {
	width: 100%;
}
.progress-list li span:first-child {
	width: 60px;
}
.rate, .rate-info {
	color: #fff;
	font-size: 13px;
	background: #52c6f0;
	font-weight: 700;
	border-radius: 4px;
	padding: 5px 8px;
}
.progress-list .progress {
	margin: 4px 0px;
	float: left;
	width: calc(100% - 175px);
}

.progress-mini {
	height: 10px;
}
.progress-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #337ab7;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
	transition: width .6s ease;
}
.progress-list li .rate, .progress-list li .rate-info {
	color: #474747;
	float: right;
	background: none;
	padding: 0;
}
.tab-page-body .rate-info-tab {
	border-top: 1px solid #ededed;
	color: #696969;
	text-align: center;
	width: 140px;
	margin: 10px auto 0;
	padding-top: 15px;
}
.progress-mini .progress-bar {
	background-color: #d49000;
	box-shadow: none;
}
.progress-list li span:first-child {
	width: 150px;
}
.tab-blue .tab-content {
	border: 1px solid #d6d6d6;
	border-radius: 10px;
	margin-bottom: 15px;
	padding: 20px 10px;
	float: left;
	width: calc(100% - 170px);
}
#type_filter {
	float: left;
	width: 170px;
	padding: 0;
	margin: 20px 0;
}

/*thanh toan*/
.box-tt {
	margin-bottom: 20px;
}
.box-tt .header{
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
}
.box-tt div.header span{
	background-color: #f6d484;
	padding: 0;
	line-height: normal;
	margin: 0;
	padding: 10px 20px;
	color: #111;
	display: inline-block;
	font-weight: bold;
}
.box-tt:first-child div.header span{
	background-color: #edaa0a;
}
.box-tt:first-child .header span{
	color: #fff;
}
.box-tt .content{
	margin: 10px 0;
	color: #111;
}
.box-tt .content .title{
	font-size: 18px;
	margin: 10px 0;
}
.box-tt .content .btn-yellow{
	margin-left: 20px;
	color: #fff;
	border-radius: 0;
	background-color: #edaa0a;
}
.box-tt label {
	padding-top: 7px;
	color: #565656;
	font-weight: normal;
}
.main_content .box-tt > .content .row {
	margin-top: 0;
}
.box-tt .last > div  {
	float: left;
	margin-right: 10px;
}
.box-tt .last > div:last-child  {
	margin-right: 0;
}
.box-tt .last > div .form-control {
	width: 60px;
	display: inline-block;
}
.box-tt .last > div label{
	margin-right: 10px;
}
.box-tt table select{
	height: 24px;
}
label.agreed {
	display: inline-block;
	color :#565656;
	font-weight: normal;
}
.agreed input {
	margin-right: 10px;
}
.mobile{
	display: none;
}
.inline {
	display: inline-block;
	width: 130px;
}
.style2{
	width: 200px;
}
.m10{
	margin-bottom: 10px;
}
.thanks {
	font-size: 20px;
}
.thanks {
	font-size: 20px;
}
.no-radius{
	border-radius: 0;
}
.scrolly {
	overflow-y: scroll;
}

.booking .header-style{
	margin-bottom: 0;
	border: none;
}
.booking table {
	color: #000;
}
.booking table th{
	text-align: center;
	text-transform: uppercase;
	padding: 20px!important;
}
.booking table tbody tr:nth-of-type(odd){
	background-color: #f7f7f7;
}
.booking table tbody tr:nth-of-type(even){
	background-color: #fff;
}
.booking table tr td {
	padding: 20px;
	vertical-align: middle;
	background-color: transparent!important;
}
.text-orange {
	color :#edaa0a;
	text-transform: uppercase;
	font-size: 15px;
}
.booking .new-price {
	color :#edaa0a;
	font-weight: bold;
}
.booking .price {
	padding-right: 30px;
}
.booking .price .sale-off{
}
.avroom {
	padding: 7px 20px;
	border: 1px solid #ccc;
}
.sale-off strong{
	background-color: #ea0707;
	padding: 20px;
	display: inline-block;
	position: relative;
	color: #fff;
	z-index: 1;
	font-size: 18px;
	left: 20px;
	box-shadow: 1px 0px 4px #fff;
}
.sale-off span {
	background-color: #c40300;
	padding: 15px;
	box-shadow: 1px 0px 4px #fff;
	font-size: 18px;
	color: #fff;
	padding-left: 30px;
}
.sale-off i {
	width: 0;
	height: 0;
	border-top: 27px solid transparent;
	border-bottom: 25px solid transparent;
	border-left: 27px solid #c40300;
	display: inline-block;
	position: relative;
	top: 20px;
}
input[type="radio"] {
	position: relative;
	top: 2px;
}
.step li{
	text-transform: uppercase;
	color: #4e4e4e;
	font-size: 14px;
	margin: 0 30px;
}
.step li span{
	background-color: #d2d2d2;
	color: #fff;
	border-radius: 50%;
	padding: 5px 10px;
	margin-right: 10px;
	line-height: 30px;
}
.step li.active span{
	background-color: #f1c842;
	color: #fff;
}
.datve .title {
	font-size: 24px;
}
.datve .col-right {
	border: 1px solid #ddd;
	padding: 0 5px;
	margin-bottom: 10px;
}
.datve .col-right .p {
	padding: 5px;
}
.datve .col-right .p p{
	margin-bottom: 5px;
}
.datve .col-right .p h4 {
	text-transform: uppercase;
	font-size: 15px;
}
.datve .col-right .p:nth-child(2) {
	background-color: #f4f4f4;
}
.modal-content {
	padding: 10px;
}

.custom-page .top-content .nav-tabs > li {
	width: 32%;
}
.custom-page .nav-tabs > li > a{
	font-size: 18px;
	font-weight: bold;
	background-color: transparent;
	line-height: normal;
	padding: 15px;
}
.custom-page .nav-tabs > li.active > a{
	background-color: #fff;
}
.custom-page .header h4 {
	padding: 15px;
	margin: 0;
	color: #4b4b4b;
	font-weight: bold;
}
.custom-page .top-content .content {
	padding-top: 10px;
	background-color: #fff;
}
.custom-page .tab-content .item {
	margin-bottom: 20px;
}
.second-comment h4 {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-bottom: 20px;
}
.custom-page .top-content .form-control {
    border: 1px solid #cccccc;
}